**/.git
**/.svn
**/.hg
**/node_modules
**/bower_components
**/dist
.env*
.idea
.vscode
.DS_Store
.gitignore
.gitmodules
.gitattributes
.editorconfig
.eslintrc
.eslintignore
.prettierrc
.prettierignore
.babelrc
.babelignore
.browserslistrc
.npmignore
.npmrc
.yarnrc
.yarnignore
auto-imports.d.ts
commitlint.config.js
lint-staged.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsconfig.build.json
tsconfig.esm.json
tsconfig.node.json
tsconfig.spec.json
tsconfig.test.json
tsconfig.web.json
tsconfig.webworker.json
tsconfig.esm5.json
*.d.ts